@import url('./__logo/header__logo.css');

.header {
  display: flex;
  margin: auto;
  max-width: 882px;
  flex-direction: column;
  padding-top: 45px;
}

.header::after {
  content: '';
  opacity: 0.7;
  border: 1px solid #545454;
  margin-top: 40.6px;
}

@media screen and (max-width: 930px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
  }
}